table {
    padding-inline: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 100%;
}

table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
}

table button {
    background-color: rgb(217, 255, 217);
}

table a {
    text-decoration: none;
    color: rgb(0, 10, 66);
}