{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">

    <form action="" method="GET">
        <label for="course_code">Course code:</label>
        <input type="number" name="course_code" id="course_code" placeholder="Course code">
        <label for="course_name">Course name:</label>
        <input type="text" name="course_name" id="course_name" placeholder="Course name">
        <label for="course_instructor">Course instructor:</label>
        <input type="text" name="course_instructor" id="course_instructor" placeholder="Course instructor">
        <button>Search</button>
    </form>
    <table id="courses">
        <tr>
                <th>Course name</th>
                <th>Course code</th>
                <th>Course instructor</th>
                <th>Course capacity</th>
                {% if register or enrolled or admin %}
                    <form action="">
                    <th>Action</th>
                {% endif %}
            </form>
        </tr>

        {% for course, course_reg_count in courses|zip(course_registrations) %}
            <tr>
                <td><a href="/courses?code={{course[1]}}">{{course[0]}}</a></td>
                <td>{{course[1]}}</td>
                <td>{{course[2]}}</td>
                <td>{{course_reg_count}}/{{course[3]}}</td>
                {% if register %}
                    <td>
                        <form action="/course/register", method="POST">
                            <input type="hidden" name="course_code" value="{{ course[1] }}">
                            <button>Register Course</button>
                        </form>
                    </td>
                {% endif %}
                {% if enrolled %}
                    <td>
                        <form action="/course/withdraw", method="POST">
                            <input type="hidden" name="course_code" value="{{ course[1] }}">
                            <button>Withdraw From Course</button>
                        </form>
                    </td>
                {% endif %}
                {% if admin %}
                    <td>
                        <form action="/course/pass", method="POST">
                            <input type="hidden" name="course_code" value="{{ course[1] }}">
                            <button>Pass Course</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}